@import './colors.scss';

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  border: solid 1px $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  padding: 0px 8px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  line-height: 60px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}